h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

p, a, li, span {
  font-family: $body-font;
}

h1 {
  // font-family: $title-font;
}

// branding

.branding {
  font-size: 5rem;
  line-height: 7rem;
  text-align: center;
  margin: 0;
  @include breakpoint(medium) {
    font-size: 3rem;
    line-height: 4rem;
  }
}

.vcard {
  text-align: center;
  margin-bottom: 1rem;
  font-family: $title-font;
  h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    @include breakpoint(medium) {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

.dot {
  font-size: 4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.street-address, .city {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  @include breakpoint(medium) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

// Clients

.clients {
  h3 {
    font-family: $body-font;
    font-size: 2rem;
    font-weight: $heavy-text;
    display: block;
  }
  h4 {
    font-family: $body-font;
    display: inline-block;
    font-size: 1.75rem;
    line-height: 3rem;
    &:hover {
      color: $highlight;
    }
  }
}

// contact

.contact-title {
  font-size: 2rem;
  line-height: 2rem;
}

.contact-subtitle {
  font-size: 1.5rem;
  line-height: 2rem;
}

.name {
  a {
    color: inherit;
    &:hover {
      color: $highlight;
    }
  }
}

