---
title: Barbara Tolley &amp; Associates
---

    <div class="row container">
      <div class="small-12 medium-3 columns">
        <img src="/img/books-1.png" alt="">
        <div class="contact-stack">
          <h1 class="branding">bT&amp;a</h1>
          <div class="vcard">
            <h2 class="editable">Barbara Tolley <br>&amp; Associates <br> Literary Scouts</h2>
            <div class="dot">&middot;</div>
            <span class="street-address editable">80 5th Avenue <br> Suite 1003 <br></span>
            <span class="city editable">New York, NY <br> 10011</span>
          </div>
        </div>
        <img src="/img/books-2.png" alt="" class="hide-for-small">
        <div class="small-12 columns"></div>
      </div>
      <div class="small-12 medium-7 right columns clients">
        <ul class="clients-list repeatables">
          <li class="client"><a href="#">
            <h4 class="editable">China: South China Publishing Group</h4>
          </a></li>
          <li class="client"><a href="#">
            <h4 class="editable">Country: Company</h4>
          </a></li>
          <h3 class="client-subtitle editable">Children Only:</h3>
          <li class="client"><a href="#">
            <h4 class="editable">Country: Company</h4>
          </a></li>
          <li class="client"><a href="#">
            <h4 class="editable">Country: Company</h4>
          </a></li>
        </ul>
      </div>
    </div>    
      <footer class="clearfix">
        <div class="row">
        <div class="contact small-12 columns">
          <h2 class="contact-title editable">
            Contact
          </h2>                      
          <div class="small-12 medium-6 columns alpha beta">
            <h3 class="contact-subtitle editable">Fiction &amp; Nonfiction</h3>
            <ul class="repeatables">
              <li>
                <span class="name editable"><a href="mailto:info@btolley.com">Name</a></span>
              </li>
              <li>
                <span class="name editable"><a href="mailto:info@btolley.com">Name</a></span>
              </li>
            </ul> 
          </div>
          <div class="small-12 medium-6 columns">
            <h3 class="contact-subtitle editable">Children's &amp; Young Adult</h3>
            <ul class="repeatables">
              <li>
                <span class="name editable"><a href="mailto:info@btolley.com">Name</a></span>
              </li>
            </ul>            
          </div>
        </div>
        </div>
      </footer>        




